# Ignorer fichiers lourds
*.zip
*.rar
*.7z
*.exe

# Ignorer base SQL si trop lourde
*.sql

# Ignorer fichiers système
.DS_Store
Thumbs.db

# Ignorer dossiers inutiles
vendor/
node_modules/
cache/
tmp/

# Ignorer les dossiers d'images
ProjetVente/image/
ProjetVente/Images/

# Ignorer toutes les images
*.jpg
*.jpeg
*.png
*.JPG
*.JPEG
*.PNG

# Ignorer le dossier tutorial de FPDF
ProjetVente/facture/fpdf/tutorial/
